.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.wrapper {
	width: 400px;
}
.header-red {
	height: 100px;
	background: #ff0000;
}
.left-green {
	float: left;
	width: 150px;
	height: 250px;
	background: #00ff51;
}

.right {
	float: left;
	width: 150px;
}
.center-pink {
	height: 50px;
	background: #cc00db;
}
.center-blue {
	height: 100px;
	background: #0093b7;
}
.right-orange {
	float: right;
	width: 100px;
	height: 150px;
	background: #ff9e6b;
}
.bottom-brown {
	height: 100px;
  width: 250px;
	background: #8c2727;
}
.footer-yellow {
	height: 100px;
	background: #fff700;
}
