@charset "utf-8";
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.wrapper {
  width: 400px;
  height: 450px;
}
.header-red {
  height: 100px;
  background: #ff0000;
}
.left-green {
  width: 150px;
  height: 250px;
  background: #00ff51;
  float: left;
}
.center-pink {
  height: 50px;
  background: #cc00db;
}
.center-blue {
  height: 100px;
  background: #0093b7;
}
.right-orange {
  width: 100px;
  background: #ff9e6b;
  float: right;
}
.center-brown {
  height: 100px;
  background: #8c2727;
}
.bottom-yellow {
  height: 100px;
  background: #fff700;
}